{% extends "base.html" %} 
{% load static %}
<!-- -----META----- -->
{% block meta %}

{% endblock %}
<!-- -----TITLE----- -->
{% block title %}
Logout
{% endblock %}
<!-- -----EXTRA-CSS----- -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'authentication/css/logout.css' %}" />
{% endblock %}
<!-- -----BODY----- -->
{% block body %}
 <div class="container text-center mt-5">
      <h1 class="text-success">You have been logged out successfully!</h1>
      <h2 class="lead">
        Thank you for visiting. We hope to see you again soon!
      </h2>
      <a class="btn btn-success mt-3" href="{% url 'login' %}"
        ><i class="fas fa-sign-in-alt"></i> Log In Again</a
      >
    </div>
{% endblock %}
<!-- -----EXTRA-JS----- -->
 {% block extra_js %}
 
 {% endblock %}
