{% extends "base.html" %} 
{% load static %}
<!-- -----META----- -->
{% block meta %}

{% endblock %}
<!-- -----TITLE----- -->
{% block title %}
Schedule an Appointment | PetZone
{% endblock %}
<!-- -----EXTRA-CSS----- -->
{% block extra_css %}
        <link
      rel="stylesheet"
      href="{% static 'appointments/css/appointments-home.css' %}"
    />
{% endblock %}
<!-- -----BODY----- -->
{% block body %}
{% if user.is_authenticated %}
    <h2>Schedule an Appointment</h2>
    <div class="description-paragraph">
      <p>Ensure your furry friend gets the best care!</p>
      <p>
        Fill out the form below to schedule an appointment with our experienced
        veterinarian and keep your pet happy and healthy.
      </p>
    </div>

    <div class="container">
      <form id="appointment-form" method="POST" action="" class="mb-3">
        {% csrf_token %}
        <div class="mb-3">{{ form.as_p }}</div>
        <input type="submit" value="Submit" class="btn btn-success" />
      </form>
    </div>
    {% else %}
    <div class="text-center mt-5">
      <h2>Join Us to Schedule an Appointment with Our Veterinarian</h2>
      <a href="{% url 'login' %}" class="btn btn-calculate mt-3">Join Now</a>
    </div>
    {% endif %}
{% endblock %}
<!-- -----EXTRA-JS----- -->
 {% block extra_js %}
 
 {% endblock %}
