body {
    background-color: #f0f2f5;
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h2 {
    color: #198754;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8rem;
  }
  
.container {
    margin-top: 30px;
    max-width: 400px !important;
    width: 90% !important;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    padding: 15px !important;
    transition: all 0.3s ease;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container:hover {
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.2);
  }
  
  form {
    margin-bottom: 20px;
  }
  
  input[type="submit"] {
    width: 50% !important;
    padding: 10px;
    font-size: 1rem;
    background-color: #198754;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
  }
  
  input[type="submit"]:hover {
    background-color: #155d43;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  select {
    width: 80%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
    text-align: center;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  select:focus {
    border-color: #198754;
    outline: none;
  }
  
  .btn.btn-calculate {
    color: white;
    background-color: #198754;
    border-color: #198754;
    padding: 12px 25px;
    font-size: 1rem;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  .btn.btn-calculate:hover {
    background-color: #155d43;
  }
  
  @media (max-width: 768px) {
    .container {
      margin-top: 20px;
      padding: 15px;
      max-width: 280px !important;
    }
  
    h2 {
      font-size: 1.5rem;
    }
  
    .btn-success,
    .btn.btn-calculate {
      width: auto;
      padding: 10px 20px;
      font-size: 1rem;
    }
  }
  