body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

header {
  color: #e63946;
  text-align: center;
  padding: 1em;
}

table {
  width: 80%;
  margin: 2em auto;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 1em;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #e63946;
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.back-button {
  display: block;
  text-align: center;
  margin-top: 2em;
}

.back-button a {
  color: #b22222;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}

.back-button a:hover {
  text-decoration: underline;
}
.navbar-custom .appointment-list-link {
  color: #e63946 !important; /* Red color */
}

.navbar-custom .appointment-list-link:hover {
  color: #b22222 !important; /* Darker red on hover */
}
