{% extends "base.html" %} 
{% load static %}
<!-- -----META----- -->
{% block meta %}

{% endblock %}
<!-- -----TITLE----- -->
{% block title %}
Create Story
{% endblock %}
<!-- -----EXTRA-CSS----- -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/blog_create.css' %}" />
{% endblock %}
<!-- -----BODY----- -->
{% block body %}
    <div class="container">
      <h1>Create a New Story</h1>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Submit</button>
      </form>
    </div>
{% endblock %}
<!-- -----EXTRA-JS----- -->
 {% block extra_js %}
 
 {% endblock %}
