{% extends "base.html" %} 
{% load static %}
<!-- -----META----- -->
{% block meta %}

{% endblock %}
<!-- -----TITLE----- -->
{% block title %}
Delete Post
{% endblock %}
<!-- -----EXTRA-CSS----- -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/blog_delete.css' %}" />
{% endblock %}
<!-- -----BODY----- -->
{% block body %}
<div class="container">
      <h1>Are You Sure?</h1>
      <p>
        Do you really want to delete this post? This action cannot be undone.
      </p>
      <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="{% url 'blog_list' %}" class="btn btn-secondary">Cancel</a>
      </form>
    </div>
{% endblock %}
<!-- -----EXTRA-JS----- -->
 {% block extra_js %}
 
 {% endblock %}
