{% extends "base.html" %} 
{% load static %}
<!-- -----META----- -->
{% block meta %}

{% endblock %}
<!-- -----TITLE----- -->
{% block title %}
{{ post.title }}
{% endblock %}
<!-- -----EXTRA-CSS----- -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/blog_details.css' %}" />
{% endblock %}
<!-- -----BODY----- -->
{% block body %}
<div class="post-detail">
      {% if is_author %}
      <a href="{% url 'blog_edit' id=post.id %}" class="btn btn-primary"
        >Update</a
      >
      <a href="{% url 'blog_delete' id=post.id %}" class="btn btn-danger"
        >Delete</a
      >
      {% endif %}
      <h1>{{ post.title }}</h1>
      <img src="{{ post.image.url }}" alt="{{ post.title }}" />
      <p>{{ post.content }}</p>
    </div>
{% endblock %}
<!-- -----EXTRA-JS----- -->
 {% block extra_js %}
 
 {% endblock %}
