body {
  font-family: Arial, sans-serif;
  background-color: #ebf2ed;
}

.about-banner {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-banner div {
  z-index: 1;
}
.about-banner h1 {
  margin-bottom: 10px;
  color: #e63946;
}
.about-banner p {
  font-size: 1.25rem;
}
.team-section {
  padding: 50px 0;
  background-color: #f9f9f9;
}
.my-5 h2 {
  color: #e63946;
}

.team-section h2 {
  color: #e63946;
}
.team-member {
  text-align: center;
}
.team-member img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.team-member h5 {
  margin-top: 15px;
  font-size: 1.25rem;
  color: #333;
}
.team-member p {
  color: #777;
}
.footer {
  background-color: #343a40;
  color: white;
  padding: 20px;
  text-align: center;
}
.footer a {
  color: #ffc107;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}

.navbar-custom .about-us-link {
  color: #e63946 !important; /* Red color */
}

.navbar-custom .about-us-link:hover {
  color: #b22222 !important; /* Darker red on hover */
}
