{% extends "base.html" %} 
{% load static %}
<!-- -----META----- -->
{% block meta %}

{% endblock %}
<!-- -----TITLE----- -->
{% block title %}
Products
{% endblock %}
<!-- -----EXTRA-CSS----- -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/all-products.css' %}" />
{% endblock %}
<!-- -----BODY----- -->
{% block body %}
<div class="container">
      <div class="page-header">
        <h1>Our Products</h1>
        {% if user.is_staff %}
        <a href="{% url 'create-product' %}" class="btn btn-create"
          >Create Product</a
        >
        {% endif %}
      </div>
      <div class="row">
        {% for product in products %}
        <div class="col-md-4">
          <div class="card product-card mb-4">
            <a href="{% url 'products-detail' id=product.id %}">
              <img
                src="{{ product.image.url }}"
                alt="{{ product.name }}"
                class="card-img-top"
              />
            </a>
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">${{ product.price }}</p>
              {% if user.is_staff %}
              <a
                href="{% url 'update-product' id=product.id %}"
                class="btn btn-primary"
                >Update</a
              >
              <a
                href="{% url 'delete-product' id=product.id %}"
                class="btn btn-danger"
                >Delete</a
              >
              {% endif %}
            </div>
          </div>
        </div>
        {% empty %}
        <p class="text-center">
          No products available at the moment. Please check back later.
        </p>
        {% endfor %}
      </div>
    </div>
{% endblock %}
<!-- -----EXTRA-JS----- -->
 {% block extra_js %}
 
 {% endblock %}
