{% extends "base.html" %} 
{% load static %}
<!-- -----META----- -->
{% block meta %}

{% endblock %}


<!-- -----TITLE----- -->
{% block title %}
Kitten
{% endblock %}


<!-- -----EXTRA-CSS----- -->
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'products/css/products-filter.css' %}" />
{% endblock %}


<!-- -----BODY----- -->
{% block body %}
<div class="container">
      <div class="column">
        <h3>1. Provide a Balanced Diet</h3>
        <p>
          Feed high-quality adult cat food that meets their energy and nutrient
          needs. Look for a balance of proteins, fats, and vitamins.
        </p>
      </div>

      <div class="column">
        <h3>2. Control Portion Sizes</h3>
        <p>
          Monitor portion sizes to avoid overfeeding. Obesity is common in adult
          cats, so adjust portions based on activity levels.
        </p>
      </div>

      <div class="column">
        <h3>3. Keep Water Fresh</h3>
        <p>
          Provide clean, fresh water daily. Consider a cat water fountain to
          encourage hydration, as cats prefer running water.
        </p>
      </div>
    </div>

    <div class="text-center my-4">
      <a
        href="{% url 'all-products' %}"
        class="btn btn-primary btn-lg"
        style="font-size: 18px; padding: 15px 30px"
        >All Products</a
      >
    </div>

    <!-- Products Section -->
    <div class="container">
      <div class="row">
        {% for product in products %}
        <div class="col-md-4">
          <div class="card mb-4 product-card">
            {% if product.image %}
            <a href="{% url 'products-detail' id=product.id %}">
              <img
                class="card-img-top"
                src="{{ product.image.url }}"
                alt="{{ product.name }}"
              />
            </a>
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-price">${{ product.price }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}


<!-- -----EXTRA-JS----- -->
 {% block extra_js %}
 
 {% endblock %}
