{% extends "base.html" %} 
{% load static %}
<!-- -----META----- -->
{% block meta %}

{% endblock %}


<!-- -----TITLE----- -->
{% block title %}
Pets
{% endblock %}


<!-- -----EXTRA-CSS----- -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/cat.css' %}" />

{% endblock %}


<!-- -----BODY----- -->
{% block body %}
<div class="container">
      <div class="half left">
        <a href="{% url 'cat_age_view' 'under' %}">
          <h1>My Cat is UNDER 1 year old</h1>
          <img src="{% static 'images/kitten.jpeg' %}" alt="Cat Image" />
        </a>
      </div>

      <div class="half right">
        <a href="{% url 'cat_age_view' 'over' %}">
          <h1>My Cat is OVER 1 year old</h1>
          <img src="{% static 'images/cat-image.jpeg' %}" alt="Cat Image" />
        </a>
      </div>
    </div>
{% endblock %}


<!-- -----EXTRA-JS----- -->
 {% block extra_js %}
 
 {% endblock %}
