{% extends "base.html" %} 
{% load static %}
<!-- -----META----- -->
{% block meta %}

{% endblock %}


<!-- -----TITLE----- -->
{% block title %}
Adult Dog
{% endblock %}


<!-- -----EXTRA-CSS----- -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products-filter.css' %}" />
{% endblock %}


<!-- -----BODY----- -->
{% block body %}
<div class="container">
      <div class="column">
        <h3>1. Feed High-Quality Dog Food</h3>
        <p>
          Provide a balanced diet with protein, fats, fiber, and vitamins
          tailored for your dog's age, size, and activity level.
        </p>
      </div>

      <div class="column">
        <h3>2. Maintain a Healthy Weight</h3>
        <p>
          Monitor portions and avoid overfeeding to prevent obesity. Adjust food
          intake based on activity level and breed needs.
        </p>
      </div>

      <div class="column">
        <h3>3. Keep Fresh Water Available</h3>
        <p>
          Ensure your dog has access to fresh water throughout the day to stay
          hydrated and support digestion and overall health.
        </p>
      </div>
    </div>

    <div class="text-center my-4">
      <a
        href="{% url 'all-products' %}"
        class="btn btn-primary btn-lg"
        style="font-size: 18px; padding: 15px 30px"
        >All Products</a
      >
    </div>

    <!-- Products Section -->
    <div class="container">
      <div class="row">
        {% for product in products %}
        <div class="col-md-4">
          <div class="card mb-4 product-card">
            {% if product.image %}
            <a href="{% url 'products-detail' id=product.id %}">
              <img
                class="card-img-top"
                src="{{ product.image.url }}"
                alt="{{ product.name }}"
              />
            </a>
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-price">${{ product.price }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}


<!-- -----EXTRA-JS----- -->
 {% block extra_js %}
 
 {% endblock %}
