{% extends "base.html" %} 
{% load static %}
<!-- -----META----- -->
{% block meta %}

{% endblock %}


<!-- -----TITLE----- -->
{% block title %}
Order List
{% endblock %}


<!-- -----EXTRA-CSS----- -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/orders.css' %}" />
{% endblock %}


<!-- -----BODY----- -->
{% block body %}
<header>
      <h1>Order List</h1>
    </header>
    <div class="back-button">
      <a href="{% url 'home-page' %}">Back to Home</a>
    </div>

    <div class="container">
      <table>
        <thead>
          <tr>
            <th>Product</th>
            <th>Customer Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Order Date</th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
          <tr>
            <td>{{ order.product.name }}</td>
            <td>{{ order.name }}</td>
            <td>{{ order.email }}</td>
            <td>{{ order.phone }}</td>
            <td>{{ order.address }}</td>
            <td>{{ order.order_date }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="back-button">
        <a href="{% url 'home-page' %}">Back to Home</a>
      </div>
    </div>
{% endblock %}


<!-- -----EXTRA-JS----- -->
 {% block extra_js %}
 
 {% endblock %}
