{% extends "base.html" %} 
{% load static %}
<!-- -----META----- -->
{% block meta %}

{% endblock %}


<!-- -----TITLE----- -->
{% block title %}
Delete
{% endblock %}


<!-- -----EXTRA-CSS----- -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products-delete.css' %}" />
{% endblock %}


<!-- -----BODY----- -->
{% block body %}
<h1>Are you sure you want to delete "{{ product.name }}"?</h1>
    <form method="POST">
      {% csrf_token %}
      <button type="submit">Yes, Delete</button>
    </form>
    <a href="{% url 'products-home' %}">Cancel</a>
{% endblock %}


<!-- -----EXTRA-JS----- -->
 {% block extra_js %}
 
 {% endblock %}
