{% extends "base.html" %} 
{% load static %}
<!-- -----META----- -->
{% block meta %}

{% endblock %}


<!-- -----TITLE----- -->
{% block title %}
Product Description
{% endblock %}


<!-- -----EXTRA-CSS----- -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products-detail.css' %}" />
{% endblock %}


<!-- -----BODY----- -->
{% block body %}
div class="container">
      <div class="row">
        <!-- Left Side: Product Details -->
        <div class="col-md-6 product-detail">
          <h1>{{ product.name }}</h1>
          <img
            class="product-image"
            src="{{ product.image.url }}"
            alt="{{ product.name }}"
          />
          <p>{{ product.description }}</p>
          <p><strong>Price:</strong> ${{ product.price }}</p>
        </div>

        <!-- Right Side: Form -->
        <div class="col-md-6 form-container">
          <h2>Order This Product</h2>
          <h4>
            Please fill out the form and one of our agents will contact you for
            the delivery.
          </h4>
          <form id="order-form" method="post" action="{% url 'products-detail' product.id %}">
            {% csrf_token %} {{ form_orders.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
{% endblock %}


<!-- -----EXTRA-JS----- -->
 {% block extra_js %}
 
 {% endblock %}
