{% extends "base.html" %} 
{% load static %}
<!-- -----META----- -->
{% block meta %}

{% endblock %}


<!-- -----TITLE----- -->
{% block title %}
Create
{% endblock %}


<!-- -----EXTRA-CSS----- -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products-create.css' %}" />
{% endblock %}


<!-- -----BODY----- -->
{% block body %}
<div class="container">
      <h1>Create Product</h1>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Create Product</button>
      </form>
      <div class="cancel-link">
        <a href="{% url 'products-home' %}">Cancel</a>
      </div>
    </div>
{% endblock %}


<!-- -----EXTRA-JS----- -->
 {% block extra_js %}
 
 {% endblock %}
