{% extends "base.html" %} 
{% load static %}
<!-- -----META----- -->
{% block meta %}

{% endblock %}


<!-- -----TITLE----- -->
{% block title %}
Order Successful
{% endblock %}


<!-- -----EXTRA-CSS----- -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/success-page.css' %}" />
{% endblock %}


<!-- -----BODY----- -->
{% block body %}
div class="content-wrapper">
      <h1>Thank you for your order, {{ name }}!</h1>
      <p>
        We have received your order. Our team will contact you soon at the phone
        number: <strong>{{ phone }}</strong>.
      </p>

      <div class="message-box">
        <strong>Your order was successfully placed!</strong> We’ll reach out to
        you shortly to confirm your purchase and provide further details.
      </div>

      <a href="{% url 'all-products' %}" class="btn">Back to Products</a>
    </div>
{% endblock %}


<!-- -----EXTRA-JS----- -->
 {% block extra_js %}
 
 {% endblock %}
